*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    font-family: 'lato',sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}

/* -------------HEADER--------------*/
.sticky{
    background-color: rgba(4, 23, 85, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 600;
    width: 100%;
    height: 70px;
}
.sticky.logo{
    width: 40px;
    margin-top: -3px;
}
.sticky .main-naw{
    margin-top: 20px;
}

header{
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.logo{
    width: 600px;
    float: left;
    margin-left: 20px;
    margin-top: -5px;
}
.main-nav{
    float: right;
    list-style: none;
    margin-right: 50px;
    margin-top: 20px;
}
.main-nav li{
    display: inline-block;
    margin-right: 40px;
}
.main-nav li a{
    text-decoration: none;
    color:white;
    font-size: 110%;
    font-weight: 700;
    transition: border-bottom 1s;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid white;
}
.about-picture{
    position: relative;
    margin-top: -650px;
    margin-left: 500px;
}
h1{
    font-size: 140%;
    font-weight: 400;
    color:rgb(44, 69, 209);
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;
}
h2{
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 90px;
    color: #28135f;
}
section{
    padding: 100px;
}
/*----------courses-section-----------*/
h3{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #cea800;
    font-size: 135%;
    font-weight: 700;
    text-align: center;
    margin-top: -20px;
}
.row1{
    column-count: 2;
    column-gap: 100px;
}
.courses-section{
    background-color: #eaf6f7;
    height: -600px;
}
.courses-section h3{
    margin-bottom: 40px;
}
h4{
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 30px;
    padding-bottom: 25px;
    text-align: center;
    color:#021403;
    font-size:110%;
    font-weight: 800;
}
.course-box ul li{
    font-size: 90%;
    line-height: 1.45;
}
.row1::after {
    content: "";
    clear: both;
    display: table;
  }
[class*="col-"] {
    float: left;
    padding: 15px;
}
  
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
